@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);


.html{

}


.content-nosso-time,.content-cursos,.content-faq,.content-contato{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 40px;
    color: white;
}

.main-content{
    width: 100%;
    height: 200vh;
    background-color: lightgray;

}

.content-sec01{

}

